:root {
  --black: #172b4d;
  --green: #36b37e;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.toolbar-container {
  height: 48px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.welcome {
  display: inline-block;
  margin-left: 12px;
  font-weight: 600;
  font-size: 20px;
  height: inherit;
  line-height: 28px;
}

.welcome > a {
  display: inline-block;
  margin: 10px 0 10px 12px;
  color: #28352f;
  text-decoration: none;
}

.toggle-wrapper {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  margin-right: 24px;
}

.icon-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.intro {
  position: relative;
  padding: 24px 24px 0 24px;
  text-align: center;
  overflow: hidden;
  background: url("assets/images/background-mobile.svg") no-repeat center center;
}

.intro-description {
  color: var(--black);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 58px;
}

#into-background {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: -182px;
  left: -238px;
  max-height: 109vh;
}

.greeting {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--black);
}

footer {
  text-align: center;
  padding-bottom: 60px;
}

.social {
  height: 20px;
}

.social i {
  color: #505f79;
}

nav > ul {
  display: none;
}

.social ul {
  list-style: none;
  padding: 0;
}

.social ul li {
  display: inline-block;
  margin-left: 10px;
}

.next-section {
  margin-top: 60px;
  height: 48px;
}

.green {
  color: var(--green);
}

.next-section-svg {
  width: 32px;
  height: 32px;
}

.recent-works {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section-title {
  align-items: center;
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  color: var(--black);
  margin: 0;
  font-weight: 700;
}

.indicator {
  width: 48px;
  height: 4px;
  background: var(--green);
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 24px;
}

.projects {
  margin-top: 60px;
  display: grid;
  grid-gap: 24px;
  justify-content: center;
}

.project-card {
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 470px;
  min-width: 330px;
  display: flex;
  align-items: flex-end;
}

.project-info {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  row-gap: 16px;
  min-height: 220px;
  width: 100%;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.project-stacks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px 8px;
}

.project-stacks > div {
  background: #ebf0ee;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 8px 12px;
}

.button-wrapper {
  display: inherit;
}

.button {
  user-select: none;
  display: inline-block;
  margin: 0 auto;
  border: 1px solid var(--green);
  color: #fff;
  background: var(--green);
  border-radius: 4px;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:active {
  background-color: #008552;
}

section.about-me {
  margin-top: 64px;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.cards {
  display: grid;
  grid-row-gap: 24px;
  margin-top: 60px;
}

.card {
  min-height: 350px;
  min-width: 325px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  margin: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

.card-info {
  margin-top: 40px;
}

.card-icon-wrapper {
  margin: 24px 0;
  height: 80px;
  width: 80px;
  order: -1;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon-wrapper > img {
  width: 48px;
  height: 48px;
}

.card-title {
  height: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.card-tags {
  margin: 24px 28px 0 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px 8px;
}

.card-tag {
  padding: 12px;
  background-color: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--green);
}

.contact-form {
  padding: 64px 24px 0 24px;
  text-align: center;
}

.contact-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: var(--black);
}

.contact-form > form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex-basis: 320px;
}

.input {
  padding: 15px 16px;
  min-width: 270px;
  max-width: 350px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

.input.message {
  border: 1px solid #60c095;
}

.input:focus {
  border: 1px solid #60c095;
  outline: none !important;
  box-shadow: 0 0 3px #66c59a;
}

a.mail-to {
  text-decoration: none;
}

.my-email {
  margin: 20px 0 40px 0;
}

.contact-form > .background-images {
  display: none;
}

@media screen and (min-width: 1024px) {
  .toolbar-container {
    padding-bottom: 60px;
    background-color: transparent;
  }
  .contact-form > .background-images {
    position: absolute;
    display: inherit;
  }

  .background-images > img {
    position: relative;
    z-index: -1;
  }

  #contact-frame1 {
    left: -400px;
  }

  #contact-frame2 {
    top: 100px;
    left: -250px;
  }

  #contact-frame3 {
    left: 400px;
  }

  .welcome {
    display: none;
  }

  nav.toggle-wrapper {
    height: 40px;
    width: 100%;
  }

  nav > .icon-wrapper {
    display: none;
  }

  nav > ul {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    list-style: none;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    text-decoration: none;
    color: var(--black);
    font-weight: 550;
  }

  .newline::after {
    content: '\a';
    white-space: pre;
  }

  .projects {
    grid-template-columns: repeat(3, auto);
  } 

  .project-card {
    width: 370px;
  }

  .cards {
    grid-template-columns: repeat(3, auto);
    justify-content: center;
  }

  .card {
    width: 370px;
  }

  p.about-me-text {
    width: 920px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .about-me > h2 {
    margin-bottom: 24px;
  }

  section.about-me {
    background: url("assets/images/about-me-background.svg") no-repeat center center;
    background-position-y: center;
    background-position-y: -65px;
  }

  .contact-form {
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-around;
  }
  .my-email {
    display: none;
  }

  .contact-form > form {
    z-index: 1;
    display: grid;
    max-width: 685px;
    flex-basis: unset;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  
  form > button {
    position: relative;
    left: -86px;
  }
  
  .input {
    max-width: unset; 
  }

  .input:nth-child(n + 3) {
    grid-column: span 2;
  }

  .contact-title {
    width: 470px;
  }
  
  footer {
    margin-top: 30px;
    padding: 0;
    border-top: 1px solid #dfe1e6;
  }

}
